<%= form_for(@reseller) do |f| %>
 <div class="clr"></div>
  	<% if @reseller.errors.any? %>   
      <ul class="alert fade in alert-error">
      <% @reseller.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    
  <% end %>
    <%= f.fields_for :user do |u| %>  
    <div class="change_password_fields">
   <div class="change_password_names"><%=u.label :email%></div>
    <div class="change_password_form-field"><%= u.email_field :email, :required => true, :autofocus => true,:class=>"text_class" %></div>
    <div class="clr"></div>
   </div>
   <div class="change_password_fields">
   <div class="change_password_names"><%=u.label :password%></div>
    <div class="change_password_form-field"><%= u.password_field :password, :required => true %></div>
    <div class="clr"></div>
    </div>
    <div class="change_password_fields">
   <div class="change_password_names"><%=u.label :password_confirmation,"Confirm Password"%></div>
    <div class="change_password_form-field"><%= u.password_field :password_confirmation, :required => true %></div>
    <div class="clr"></div>
    </div>
    <% end %>
  <div class="change_password_fields">
   <div class="change_password_names"><%= f.label :name %></div>
    <div class="change_password_form-field"><%= f.text_field :name %></div>
  <div class="clr"></div>
  </div>
  <div class="change_password_fields">
   <div class="change_password_names"><%= f.label :address %></div>
    <div class="change_password_form-field"><%= f.text_field :address %></div>
  <div class="clr"></div>
  </div>
  <div class="change_password_fields">
   <div class="change_password_names"><%= f.label :phone %></div>
    <div class="change_password_form-field"><%= f.text_field :phone %></div>
  <div class="clr"></div>
  </div>
  <div class="change_password_fields">
  	<div class="change_password_names">&nbsp;</div>
  	<div class="login_button"><%= f.submit "Save" %></div>
  	<div class="clr"></div>	
  	</div>
<% end %>
