
<script src="../assets/jquery.dataTables.js"></script>
<script type="text/javascript">
	$(document).ready(function(){	
    $('#sunil_datatable').dataTable();
});
</script>

<h1>Listing white labels</h1>

<table class="table" id="sunil_datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Action</th>
  </tr>
  </thead>
<tbody>
<% @resellers.each do |reseller| %>
  <tr>
    <td><%=link_to reseller.name,reseller_path(reseller) %></td>
    <td><%= reseller.address %></td>
    <td><%=reseller.user.email%></td>
    <td><%=reseller.phone%></td>
    <td><%= link_to 'Edit', edit_reseller_path(reseller) %>  <% link_to image_tag('../assets/delete_icon.png'), reseller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />


