
<%= form_for(@race) do |f| %>
  <% if @race.errors.any? %>
     <ul class="alert fade in alert-error">
      <% @race.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>
 <div class="change_password_fields">
    <div class="change_password_names"><%= f.label :name%></div>
    <div class="change_password_form-field"><%= f.text_field :name,:required=>true%></div>
    <div class="clr"></div>
  </div>
  <div class="change_password_fields">
    <div class="change_password_names"><%= f.label :date %></div>
    <div class="change_password_form-field"><%= f.text_field :date,:required=>true,:readonly=>true%></div>
    <div class="clr"></div>
  </div>
  <div class="change_password_fields">
    <div class="change_password_names"><%= f.label :time %></div>
    <div class="change_password_form-field"><%= f.time_select :time,{:ampm => true},:class=>'change_select'%></div>
  
    <div class="clr"></div>
  </div>
  <div class="change_password_fields">
    <div class="change_password_names"><%= f.label :description %></div>
    <div class="change_password_form-field"><%= f.text_area :description%></div>
  
    <div class="clr"></div>
  </div>
  <div class="change_password_fields">
    <div class="change_password_names"><%= f.label :race_type %></div>
    <div class="change_password_form-field"><%= f.select :race_type,['Gallop','Trots','Dogs'],:class=>'change_select'%></div>
  
    <div class="clr"></div>
  </div>
  <div class="change_password_fields">
    <div class="change_password_names"><%= f.label :horse %></div>
    <div class="change_password_form-field"><%= f.text_field :horse,:required=>true %></div>
    <div class="clr"></div>
  </div>
  <div class="change_password_fields">
    <div class="change_password_names"><%= f.label :default_odd %></div>
    <div class="change_password_form-field"><%= f.text_field :default_odd,:required=>true %></div>
    <div class="clr"></div> 
  </div>
  <div class="change_password_fields">
    <div class="change_password_names"><%= f.label :location %></div>
    <div class="change_password_form-field"><%= f.text_field :location %></div>
    <div class="clr"></div> 
  </div>
 
  <div class="change_password_fields">
  	<div class="change_password_names">&nbsp;</div>
     <div class="login_button"><%= f.submit "Create race"%></div>
     <div class="clr"></div>
  </div>
<% end %>
<script>
$(function() {
$( "#race_date" ).datepicker({
	dateFormat:"dd-mm-yy",
	onSelect: function(date) {
	
  },
   minDate: 0
});

});
</script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


