<!-- <%unless @races.blank?%>
<table class="table">
	<thead>
		<tr>
			<th>Race Name</th>
			<th>Date</th>
			<th>Time</th>
			<th>Horse</th>
			<th>Status</th>
			<th>Default Odds</th>		
		</tr>
	</thead>
	<tbody>
		<%@races.each do |race|%>
		<tr class="tr_bg_yellow">
			<td><%=race.name%></td>
			<td><%=race.date.strftime("%d/%m/%Y")%></td>
			<td><%=race.time.strftime("%I:%M%p")%></td>
			<td><%=race.horse%></td>
			<td><%=race.status%></td>
			<td>$<%=race.default_odd%></td>			
			</tr>
		<%end%>		
	</tbody>
</table>
<%else%>
Sorry record not found.
<%end%> -->

<%unless @races.blank?%>
<script src="/../assets/jquery.dataTables.js"></script>
<script type="text/javascript">
	$(document).ready(function(){	
    $('#sunil_datatable').dataTable();
});
</script>
   <table id="sunil_datatable" class="sunil-prev-races">
   	<thead>   		
   		<tr>
   		    <th>Trade Date</th> 
   			<th>Ticket Number</th>
   			<th>Description</th>
   			<th>Trade Amount</th>
   			<th>Trade Type</th>
   			<th>Trade Info</th>
   			<th>Status</th>
   			<th>Win</th>
   			<th>Lost</th>
   			<!-- <th>Processing Balance</th> -->
   			<th>Balance After Trade</th>
   			
   		</tr>
   	</thead>
   	<tbody>
   		<%@races.each do |race|%>
   		<%prev_race=UsersRaces.find_by_race_id_and_client_id(race.id,current_user.client.id)%>
   		<tr class="tr_bg_yellow">
   			<td><%=race.date%></td>
   			<td><%=race.ticket_number%></td>
   			<td><%=race.description%></td>
   			<td><%=number_to_currency(prev_race.bet_amount) unless prev_race.blank?%></td>
   			<td><%=race.race_type%></td>
   			<td><%=race.info%></td>
   			<td><%=race.status.capitalize unless race.status.blank?%></td>
 			<td><%=number_to_currency(prev_race.win) unless prev_race.blank?%></td>
   			<td><%=number_to_currency(prev_race.lost) unless prev_race.blank?%></td>
   			<td><%=number_to_currency(prev_race.processing_balance) unless prev_race.blank?%></td>
   		</tr>
   		
   		
   		
   		<%end%>
   		
   	</tbody>
   	
   	
   	
   </table>

<%else%>
Sorry there is no record.
<%end%>
