<table class="table">
	<thead>
		<tr>
			<th>Race Name</th>
			<th>Date</th>
			<th>Time</th>
			<th>Horse</th>
			<th>Location</th>
			<th>Default Odds</th>
			<%@tiers.each do |tier|%>
			  <th><%=tier.name%></th>			  
			<%end%>
		</tr>
	</thead>
	<tbody>
		<tr class="tr_bg_yellow">
			<td><%=@race.name%></td>
			<td><%=@race.date%></td>
			<td><%=@race.time.strftime("%I:%M%p")%></td>
			<td><%=@race.horse%></td>
			<td><%=@race.location%></td>
			<td><%=number_to_currency(@race.default_odd)%></td>
			<%@tiers.each do |tier|%>
			<%calculated=(@race.default_odd*tier.weight)/100%>
			  <td><%=@race.default_odd+calculated%></td>			  
			<%end%>	
			</tr>
		
		
	</tbody>
</table>