<h1>Current Bets</h1>
<%unless @current_races.blank?%>
<table id="upcoming" class="table">
	<thead>
		<tr>
			<th>Race Name</th>
			<th>Description</th>
			<th>Date</th>
			<th>Time</th>
			<th>Horse</th>
			<th>Horse Place</th>
			<th>Location</th>
			<th>Default Odds</th>
				
		</tr>
	</thead>
	<tbody>
		<%@current_races.each do |race|%>
		<tr class="tr_bg_yellow">
			<td><%=race.name%></td>
			<td><%=race.description%></td>
			<td><%=race.date.strftime("%d/%m/%Y")%></td>
			<td><%=race.time.strftime("%I:%M%p")%></td>
			<td><%=race.horse%></td>
			<td><%=race.horse_place%></td>
			<td><%=race.location%></td>
			<td><%=number_to_currency(race.default_odd)%></td>
			</tr>
		<%end%>		
	</tbody>
</table>
<%end%>
<h1>Previous Bets</h1>
<%@races=Race.where('status=? or status=?','win','lost')%>
<%=render 'reseller_prev_races' %>