<%unless @race.clients.blank?%>
<table class="table">
	<thead>
		<tr>
			<th>Client Name</th>
			<th>Balance Before Bet</th>
			<th>Tier</th>
			<th>bet Amount</th>
			<th>Balance After Bet</th>
			<th>Potential Win</th>
			<th>potential Loss</th>
		</tr>
	</thead>
	<tbody>
		<%@race.clients.each do |client|%>
		   <tr class="tr_bg_yellow">
			<td><strong>
				<%unless client.is_this_trial?%>
				<%=client.client_name %>
				<%else%>
				<%=client.client_name %>(T)
				<%end%>
				</strong>
			</td>
			<td><%=number_to_currency(client.balance_before_bet(@race))%></td>
			<td>
				<% unless client.tier.nil? %>
				<%=client.tier.name%>
				<%else%>
				Default Odds
				<%end%>
				</td>
			<td><%=number_to_currency(client.bet_amount(@race)) unless client.balance.nil?%></td>		
			<td><%=number_to_currency(client.calculated_balance_after_bet(@race)) unless client.balance.nil?%></td>
			<td><%=number_to_currency(client.potential_win(@race)) unless client.balance.nil?%></td>
			<td>$<%=client.potential_loss(@race).round(2) unless client.balance.nil?%></td>
		   </tr>
			<%end%>
		
	</tbody>
</table>
<%else%>
Sorry record not found.
<%end%>
