<%unless @users.blank?%>
<table class="table">
	<thead>
		<tr>
			<th>Client Name</th>
			<th>Balance Before Bet</th>
			<th>Tier</th>
			<th>bet Amount</th>
			<th>Balance After Bet</th>
			<th>Potential Win</th>
			<th>potential Loss</th>
		</tr>
	</thead>
	<tbody>
		<%@users.each do |user|%>
		   <tr class="tr_bg_yellow">
			<td><%=user.client_name%></td>
			<td><%=number_to_currency(user.balance_before_bet(@race))%></td>
			<td><%=user.tier.name%></td>
			<td><%=number_to_currency(user.bet_amount(@race)) unless user.balance.nil?%></td>		
			<td><%=number_to_currency(user.calculated_balance_after_bet(@race)) unless user.balance.nil?%></td>
			<td><%=number_to_currency(user.potential_win(@race)) unless user.balance.nil?%></td>
			<td><%=number_to_currency(user.potential_loss(@race)) unless user.balance.nil?%></td>
		   </tr>
			<%end%>
		
	</tbody>
</table>
<%else%>
Sorry record not found.
<%end%>
