
   <div id="update_status">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="../assets/jquery.editinplace.js"></script>
        <script type="text/javascript" src="../assets/demo.js"></script>
       <script type="text/javascript">
       	$(document).ready(function(){
	
	
var token= $('meta[name="csrf-token"]').attr('content');
var data={
		"authenticity_token": token
	};

	// A select input field so we can limit our options
	$(".editme3").editInPlace({
		url: '/races/update_status?',
		field_type: "select",
		select_options: "win, lost",	
		params: data,
		success: function(response) {
        $("#update_status").empty();
        $("#update_status").html(response);
        }
	});

	
});
       </script>
        

<h1>Current Races</h1>
<div class="clr"></div>
<%unless @races.empty?%>
<table id="upcoming" class="table">
	<thead>
		<tr>
			<th>Race Name</th>
			<th>Date</th>
			<th>Time</th>
			<th>Horse</th>
			<th>Location</th>
			<th>Default Odds</th>
			<%@tiers.each do |tier|%>	
			  <th><%=tier.name%></th>			  
			<%end%>
			<%if current_user.admin?%>
			<th>Action</th>
			<%end%>
		</tr>
	</thead>
	<tbody>
		<%@races.each do |race|%>
		<tr class="tr_bg_yellow">
			<td><%=race.name%></td>
			<td><%=race.date.strftime("%d/%m/%Y")%></td>
			<td><%=race.time.strftime("%I:%M%p")%></td>
			<td><%=race.horse%></td>
			<td><%=race.location%></td>
			<td><%=number_to_currency(race.default_odd)%></td>
			<%@tiers.each do |tier|%>
			<%calculated=(race.default_odd*tier.weight)/100%>
			  <td><%=number_to_currency(race.default_odd+calculated)%></td>			  
			<%end%>	
			
				<%if current_user.admin?%>
				<td>
				<p class="editme3" race="<%=race.id%>">					
                <a href="#"><img src="../assets/green-tick.png"><img src="../assets/cross.png"></a>
                </p>
           
				<!-- <a href="#" id="status" race="<%=race.id%>">
					<img src="../assets/edit_icon.png">
				</a> -->
				<%= link_to image_tag("../assets/view-icon.png"), race %> 
				</td>
				<%end%>
				
			
			</tr>
		<%end%>		
	</tbody>
</table>
<%else%>
There is no current race yet.
<%end%>
</div>
<%unless current_user.admin?%>
<script>
$(function() {
$( "#datepicker" ).datepicker({
	dateFormat:"dd-mm-yy",
	maxDate: 0,
	onSelect: function(date) {
		$("#todatepicker").datepicker("option","minDate", date)
		$('#LoadingImage').show();
		var to=$('#todatepicker').val();
		var data={
			'from' : date,
			'to' : to
		}
		if (to){
		$.get("/races/view_prev_races?",data,function(data){
   	$(".pre_races").empty();
   	$('#LoadingImage').hide();
   	$(".pre_races").html(data);
   });
    }
   }
});
$( "#todatepicker" ).datepicker({
	dateFormat:"dd-mm-yy",
	maxDate: 0,
	onSelect: function(date) {
		$("#datepicker").datepicker("option","maxDate", date)
		$('#LoadingImage').show();
		var from=$('#datepicker').val();
		var data={
			'from' : from,
			'to' : date
		}
	if (from){
   $.get("/races/view_prev_races?",data,function(data){
   	$(".pre_races").empty();
   	$('#LoadingImage').hide();
   	$(".pre_races").html(data);
   });
   }
  }
});
});
</script>
<h1>Previous races</h1>
 <div class="field">
    <p><b>From Date:</b>  <input type="text" id="datepicker" readonly="true"><b>  To Date:</b>  <input type="text" id="todatepicker" readonly="true"></p>
  </div>
  <div id="LoadingImage" style="display: none">
	<img src="../assets/loading.gif" />
  </div>
<div class="pre_races">
</div>
<legend>
<b>Available Balance: </b> <%=number_to_currency(current_user.balance)%>
</legend>

<%end%>

