<h1>Past Races</h1>


<%unless @races.blank?%>
<table class="table">
	<thead>
		<tr>
			<th>Race Name</th>
			<th>Date</th>
			<th>Time</th>
			<th>Horse</th>
			<th>Horse Number</th>
			<th>Status</th>
			<th>Default Odds</th>	
			<th>protest</th>	
		</tr>
	</thead>
	<tbody>
		<%@races.each do |race|%>
		<tr class="tr_bg_yellow">
			<td><%=race.name%></td>
			<td><%=race.date.strftime("%d/%m/%Y")%></td>
			<td><%=race.time.strftime("%I:%M%p")%></td>
			<td><%=race.horse%></td>
			<td><%=race.horse_no%></td>
			<td><%=race.status%></td>
			<td>$<%=race.default_odd%></td>
			<td><%=link_to 'Protest',protest_races_path(:id=>race.id)%></td>			
			</tr>
		<%end%>		
	</tbody>
</table>
<%else%>
Sorry record not found.
<%end%>
