<script src="/../assets/jquery.dataTables.js"></script>
<script type="text/javascript">
	$(document).ready(function(){	
    $('#sunil_datatable').dataTable();
});
</script>
<%unless @clients.blank?%>

 <table id="sunil_datatable">
 	<thead>
 		<tr>
 			<th>Client Number</th>
 			<th>Client Name</th>
 			<th>Client Tier</th>
 			<th>Profit %</th>
 			<th>Profit/lost</th>
 			<th>White Label</th>
 			<th>Balance</th>
 			<th>Status</th>
 			<th>Races</th>
 			<th>Action</th>
 		</tr>
 	</thead>
 	<tbody>
 		<%@clients.each do |client|%>
 		<%@reseller=client.reseller%>
 		<tr>
 			<td><%=client.client_number%></td>
 			<td><strong><%unless client.is_this_trial?%>
				<%=client.client_name %>
				<%else%>
				<%=client.client_name %>(T)
				<%end%></strong></td>
 			
 			<td><p class="tier_change" race=<%=client.id%>>					
           <a href="#"><%=client.tier.name unless client.tier.nil?%></a>
            </p> 
 			</td>
 			<td>%<%=client.profit_lost.round(2)%></td>
             <td><%=number_to_currency(client.total_profit_lost)%></td> 	
 			<td><%=client.reseller.name%></td>
 			<td><%=number_to_currency(client.balance)%></td>
 			<%@races=[]%>
 			<%client.races.each do |race|%>
 			<%@races<<race.name%>
 			<%end%>
 			<td><%=client.status%></td>
 			<td><%=@races%></td>
 			<td><%= link_to image_tag('../assets/edit_icon.png').html_safe,  user_edit_client_path(:id=>client) %> | <%= link_to image_tag('../assets/delete_icon.png').html_safe, user_delete_client_path(:id=>client), confirm: 'Are you sure you want to delete?', method: :delete %> | <%= link_to "View_report",:controller=>'clients',:action=>'view_report',:id=>client.id %>|<%= link_to "View Withdraw/Deposit history",withdraw_history_reseller_clients_path(client.reseller,{:id=>client})%></td>
 		</tr>
 		<%end%>
 	</tbody>
 </table>
<%end%>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="../assets/jquery.editinplace.js"></script>
        <script type="text/javascript" src="../assets/demo.js"></script>
       	<script>
       	$(document).ready(function(){
	
	
var token= $('meta[name="csrf-token"]').attr('content');
var data={
		"authenticity_token": token,		
	};

	// A select input field so we can limit our options
	$(".tier_change").editInPlace({
		url: '/users/update_tier?',
		field_type: "select",
		select_options: "T1, T2,T3,T4,T5",	
		params: data,
		success: function(response) {
        $("#user_view_client").empty();
        $("#user_view_client").html(response);
        
        }
	});

	
});
       </script>
