<h1>Inactive Clients</h1>
<script src="../assets/jquery.dataTables.js"></script>
<script src="../assets/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){			
    $('#sunil_datatable').dataTable();
});
</script>
<%unless @clients.blank?%>
 <table class="table" id="sunil_datatable">
 	<thead>
 		<tr>
 			<th>Client Number</th>
 			<th>Client Name</th>
 			<th>Client Tier</th>
 			<th>White Label</th>
 			<th>Balance</th>
 			<th>Status</th>
 			
 			<th>Action</th>
 		</tr>
 	</thead>
 	<tbody>
 		<%@clients.each do |client|%>
 		<%@reseller=client.reseller%>
 		<tr>
 			<td><%=client.client_number%></td>
 			<td><%=client.client_name%></td>
 			<td><%=client.tier.name unless client.tier.nil?%></td>
 			<td><%=client.reseller.name%></td>
 			<td><%=client.balance%></td>
 			<%@races=[]%>
 			<%client.races.each do |race|%>
 			<%@races<<race.name%>
 			<%end%>
 			<td><%=client.status%></td>
 			
 			<td><%= link_to image_tag('../assets/edit_icon.png').html_safe,  user_edit_client_path(:id=>client) %>  <% link_to image_tag('../assets/delete_icon.png').html_safe, user_delete_inactive_client_path(:id=>client), confirm: 'Are you sure you want to delete?', method: :delete %></tr>
 		<%end%>
 	</tbody>
 </table>
<%end%>
