<h1>Client List</h1>

<%unless @user.blank?%>
<% if @user.errors.any? %>   
      <ul class="alert fade in alert-error">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
   <%end%> 
  <% end %>
  <%unless @users.empty?%>
<table class="table">
	<thead>
		<tr>
			<th>Client Name</th>
			<th>Password</th>
			<th>Balance</th>
			<th>Tier</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Date</th>
			<th>Status</th>
			<th>Profit/Lost(%)</th>
			<th>B(5%)</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		
		<%@users.each_with_index do |user,index|%>
	  <%@class="tr_bg_yellow"%>
		<tr class="<%=@class%>">
			<td><strong><%unless user.is_this_trial?%>
				<%=user.client_name %>
				<%else%>
				<%=user.client_name %>(T)
				<%end%></strong></td>
				<td><%=user.custom_password%></td>
			<td><%=number_to_currency(user.balance)%></td>
			<td><% unless user.tier.nil? %>
				<%=user.tier.name%>
				<%else%>
				Default Odds
				<%end%></td>
			<td><%=user.email%></td>
			<td><%=user.phone%></td>
			<td><%=user.created_at.strftime("%d-%m-%y")%></td>
			<td><%=user.status%></td>
			<td><%=(user.profit_lost) unless user.profit_lost.blank?%></td>
			<td><%=(user.b5) unless user.b5.blank?%></td>
			<td><%= link_to image_tag('../assets/edit_icon.png').html_safe, edit_user_path(user) %> |
              <%= link_to image_tag('../assets/delete_icon.png').html_safe, user, confirm: 'Are you sure you want to delete?', method: :delete %> | 
              <%= link_to "View_report",:controller=>'users',:action=>'view_report',:id=>user.id %>
              </td>
		</tr>
		<%end%>
		
	</tbody>	
</table>
<%else%>
Sorry record not found.
<%end%>	
