<div class="change_password_fields">
 	<div class="change_password_names"><%= b.label :bsb %></div>
  <div class="change_password_form-field"><%= b.text_field :bsb ,:required=>true%></div>
<div class="clr"></div></div>
 <div class="change_password_fields">
 	<div class="change_password_names"><%= b.label :account %></div>
  <div class="change_password_form-field"><%= b.text_field :account ,:required=>true%></div>
<div class="clr"></div></div>
 <div class="change_password_fields">
 	<div class="change_password_names"><%= b.label :bank_name %></div>
  <div class="change_password_form-field"><%= b.text_field :bank_name ,:required=>true%></div>
<div class="clr"></div></div>
 <div class="change_password_fields">
 	<div class="change_password_names"><%= b.label :account_name %></div>
  <div class="change_password_form-field"><%= b.text_field :account_name ,:required=>true%></div>
<div class="clr"></div></div>