<h1>Listing bank_details</h1>

<table>
  <tr>
    <th>Bsb</th>
    <th>Account</th>
    <th>Bank name</th>
    <th>Account name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bank_details.each do |bank_detail| %>
  <tr>
    <td><%= bank_detail.bsb %></td>
    <td><%= bank_detail.account %></td>
    <td><%= bank_detail.bank_name %></td>
    <td><%= bank_detail.account_name %></td>
    <td><%= link_to 'Show', bank_detail %></td>
    <td><%= link_to 'Edit', edit_bank_detail_path(bank_detail) %></td>
    <td><%= link_to 'Destroy', bank_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bank detail', new_bank_detail_path %>
