<h1>Client List</h1>
<%unless @client.blank?%>
<% if @client.errors.any? %>   
      <ul class="alert fade in alert-error">
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
   <%end%> 
  <% end %>

  <%unless @clients.empty?%>
<table class="client_table">
	<thead>
		<tr>
			<th>Client Name</th>
			<th>Password</th>
			<th>Balance</th>
			<th>Tier</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Date</th>
			<th>Status</th>
			<th>Profit/Lost(%)</th>
			<th>B(5%)</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		
		<%@clients.each_with_index do |client,index|%>
	  <%@class="tr_bg_yellow"%>
		<tr class="<%=@class%>">
			<td><strong><%unless client.is_this_trial?%>
				<%=client.client_name %>
				<%else%>
				<%=client.client_name %>(T)
				<%end%></strong></td>
				<td><%=client.custom_password%></td>
			<td><%=number_to_currency(client.balance)%></td>
			<td><% unless client.tier.nil? %>
				<%=client.tier.name%>
				<%else%>
				Default Odds
				<%end%></td>
			<td><%=client.user.email%></td>
			<td><%=client.phone%></td>
			<td><%=client.created_at.strftime("%d-%m-%y")%></td>
			<td><%=client.status%></td>
			<td><%=(client.profit_lost) unless client.profit_lost.blank?%></td>
			<td><%=(client.b5) unless client.b5.blank?%></td>
			<td><%= link_to image_tag('../assets/edit_icon.png').html_safe, edit_reseller_client_path(@reseller,client) %> |
              <%= link_to image_tag('../assets/delete_icon.png').html_safe, [@reseller,client], confirm: 'Are you sure you want to delete?', method: :delete %> | 
              <%= link_to "View_report",:controller=>'clients',:action=>'view_report',:id=>client.id %>
              </td>
		</tr>
		<%end%>
		
	</tbody>	
</table>
<%else%>
Sorry record not found.
<%end%>	
