<h1>Client Report</h1>
<a href='/clients/generatePdf?id=<%=@client.id%>'>Print</a>
 
 <table class="client_tablebjbj">
   	<thead>   		
   		<tr>   			
   			<th>Client Name</th>
   			<th>Email</th>
   			<th>Contact Number</th>
   			<th>Reseller/white label</th>
   			<th>Current Balance</th>
   			<th>Invested Balance</th>   			
   			<th>Profit %</th>
   			<th>Profit $</th>
   			<th>Accumulated Fees</th>
   			
   			
   		</tr>
   	</thead>
   	<tbody>
   		<tr class="tr_bg_yellow">
   			<td><%=@client.client_name.capitalize%></td>
   			<td><%=@client.user.email%></td>
   			<td><%=@client.phone%></td>
   			<td><%=@client.reseller.name.capitalize%></td>
   			<td><%=number_to_currency(@client.balance)%></td>
   			<td><%=number_to_currency(@client.initial_balance)%></td>
   			<td>%<%=@client.profit_lost.round(2)%></td>
   			<td><%=number_to_currency(@client.total_profit_lost)%></td>
   		    <td><%=number_to_currency(@client.total_fees_paid)%></td>
   		</tr>   		
   		
   	</tbody>
   	
   	
   	
   </table>
<h1></h1>
<%unless @client.races.blank?%>
<script src="/../assets/jquery.dataTables.js"></script>
<script src="/../assets/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){			
    $('#sunil_datatable').dataTable();
});
</script> 
   <table class="table" id="sunil_datatable">
   	<thead>   		
   		<tr>
   			<th>Trade Date</th>   			
   			<th>Ticket Number</th>
   			<th>Description</th>
   			<th>Category</th>
   			<th>Balance before Trade</th>   			
   			<th>Trade Amount</th>
   			<th>Balance after Trade</th>
   			<th>Trade Type</th>
   			<th>Status</th>
   			<th>Win</th>
   			<th>Lost</th>
   			<th>Balance after result</th>
   			
   		</tr>
   	</thead>
   	<tbody>
   		<%@client.races.each do |race|%>
   		<%prev_race=UsersRaces.find_by_race_id_and_client_id(race.id,@client.id)%>
   		<tr class="tr_bg_yellow">
   			<td><%=race.date%></td>   			
   			<td><%=race.ticket_number%></td>
   			<td><%=race.description%></td>
   			<td><%=race.info%></td>
   			<td><%=number_to_currency(prev_race.processing_balance) unless prev_race.blank?%></td>
   			<td><%=number_to_currency(prev_race.bet_amount) unless prev_race.blank?%></td>
   			<td><%=number_to_currency(@client.calculated_balance_after_bet(race)) unless @client.balance.nil?%></td>
   			<td><%=race.race_type%></td>
   			<td>
   				<%unless race.status.blank?%>
   				<%=race.status.capitalize %>
   				<%else%>
   				pending
   				<%end%>   				
   			</td>
 			<td><%=number_to_currency(prev_race.win) unless prev_race.blank?%></td>
   			<td><%=number_to_currency(prev_race.lost) unless prev_race.blank?%></td>
   			<td><%=number_to_currency(prev_race.balance_after_result(race)) unless prev_race.blank?%></td>
   		</tr>
   		
   		
   		
   		<%end%>
   		
   	</tbody>
   	
   	
   	
   </table>

<%else%>
Sorry there is no record.
<%end%>
