<script src="/../assets/jquery.dataTables.js"></script>
<script src="/../assets/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){			
    $('#sunil_datatable').dataTable();
});
</script> 
<%unless @user.transactions.where(:owner=>1).blank?%>
<h1>Client Transaction History</h1>
<table class="table" id="sunil_datatable">
	<thead>
		<tr>
			<th>Date/Time</th>
			<th>Balance before</th>			
			<th>Credit</th>
			<th>Debit</th>
			<th>Race</th>
			<th>Race Status</th>
			<th>Balance after</th>
			<th>Bank</th>				
		</tr>
	</thead>
	<tbody>
		<%@total_withdraw=0%>
		<%@user.transactions.where(:owner=>1).each_with_index do |t,index|%>
	    <tr class="tr_bg_yellow">
  	        <td><%=t.created_at.strftime("%y-%m-%d %H:%M")%></td>
			<td><%=number_to_currency(t.balance_before)%></td>
			<td><%=number_to_currency(t.deposit)%></td>
			<td><%=number_to_currency(t.withdraw)%></td>
			<td><%=t.race.name unless t.race.blank?%></td>
			<td><%=t.race_status%></td>
			<td><%=number_to_currency(t.balance_after)%></td>
			<td><%=t.bank_detail.bank_name unless t.bank_detail.blank? %></td>
		</tr>
		<%end%>
	</tbody>	
</table>
<%else%>
Record not found

<%end%>
