
<ul class="alert deposit_error fade in alert-error">
	<li></li>
</ul>
<% if @transaction.errors.any? %>   
      <ul class="alert fade in alert-error">
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    
  <% end %>
<%=form_for @transaction do |t|%>  
	<div class="change_password_fields">
	<div class="change_password_names">Available Balance</div>
	<div class="change_password_form-field"><%=number_to_currency(current_user.client.balance)%></div>
	<div class="clr"></div></div>
	<div class="change_password_fields">
	<div class="change_password_names">Password</div>
	<div class="change_password_form-field"><%=password_field_tag 'password','',:required=>true%></div>
	<div class="clr"></div></div>
	<div class="change_password_fields">
	<div class="change_password_names">Would you like to ?</div>
		<div class="change_password_form-field"><input type="radio" name="amount_to" id="withdraw" value="withdraw"/><label>Withdraw</label> <input type="radio" name="amount_to" value="deposit" id="deposit"/><label>Deposit</label></div>
	<div class="clr"></div>
	</div>
	 <div id="withdraw_bank">
     <div class="change_password_fields">	
     	<div class="change_password_names"></div>
     <div class="change_password_form-field"><%=t.text_field :withdraw%></div>    
     <div class="change_password_form-field"><%=t.text_field :deposit%></div>
     <div class="clr"></div></div> 
     <div class="change_password_fields">
	<div class="change_password_names"><label>Bank</label></div>
     <div class="change_password_form-field"><input type="radio" name="bank_details" id="current" value="current"/><label>Current</label> <input type="radio" name="bank_details" value="alternate" id="alternate"/><label>Alternate</label></div>
     <div class="clr"></div></div>
     <div id="current_bank">
     <%=select_tag 'bank_id', options_for_select(@user.bank_details.where('account_name !=?',"").collect{ |u| [u.bank_name, u.id] }.insert(0, "Please Select"))%>
     </div>
     </div>
     <div id="deposit_form">
     <div class="change_password_fields">	
     	<div class="change_password_names"><label>Mobile</label></div>
     <div class="change_password_form-field"><input type="text" name="deposit_phone" id="deposit_phone" /></div>
     <div class="clr"></div></div>    
      <div class="change_password_fields">
     <div class="change_password_names"><label>Message</label></div>
     <div class="change_password_form-field"><input type="text" name="deposit_messages" id="deposit_messages" placeholder="Enter your contact details and we will confirm your deposit"/></div>
     <div class="clr"></div></div> 
     </div>
      <%=t.hidden_field :bank_detail_id%>
      <%=t.hidden_field :balance_before%>
     <%=t.hidden_field :client_id%>
    <div id="alter_bank">
    <div class="change_password_fields">
 	<div class="change_password_names">bsb</div>
  <div class="change_password_form-field"><%= text_field_tag :bsb,''%></div>
<div class="clr"></div></div>
 <div class="change_password_fields">
 	<div class="change_password_names">acount</div>
  <div class="change_password_form-field"><%= text_field_tag :account,'' %></div>
<div class="clr"></div></div>
 <div class="change_password_fields">
 	<div class="change_password_names">bank name</div>
  <div class="change_password_form-field"><%= text_field_tag :bank_name,''%></div>
<div class="clr"></div></div>
 <div class="change_password_fields">
 	<div class="change_password_names">Account Name</div>
  <div class="change_password_form-field"><%= text_field_tag :account_name,''%></div>
<div class="clr"></div></div>
</div>
<div class="change_password_fields">
  	<div class="change_password_names">&nbsp;</div>
           <div class="login_button"><%=t.submit "Request",:id=>"submit_fund"%></div>
           <div class="clr"></div>	
  	</div>

<%end%>
