<h2>Edit</h2>

<%= form_for @user,:controller=>'/home',:action=>'update_password' do |f| %>
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>
  <%=f.hidden_field :tier_id,:value=>@user.tier%>
  <%=f.hidden_field :balance,:value=>@user.balance%>
  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

